<h1>Listing repositories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Owner</th>
  </tr>

<%= will_paginate %>
<% @repositories.each do |repository| %>
  <tr>
    <td><%= link_to "#{repository.name}", repository_timesheet_path(repository)%></td>
    <td><%= repository.url %></td>
    <td><%= repository.user.name %></td>	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add', new_repository_path %>
