<div>
   
   <% action = "/git_logs_timesheet" %>
   <% if @repositories and @author and !@repository %>
     <% action = "/authors_timesheet/#{@author.id}" %> 
   <% elsif @repository and !@author %>
    <% action += "/repositories_timesheet/#{@repository.id}" %>
   <% end %>
    <form action="<%= action %>" method="post">
  <% if !@repositories.blank? %>
    <h3>Select Repository</h3>
      <%= select_tag "repository", options_from_collection_for_select(@repositories, "id", "name") %> 
    </select>
  <% end %>
  <% if !@authors.blank? %>
    <h3>Select Author</h3>
    <%= select_tag "author", options_from_collection_for_select(@authors, "id", "name") %> 
  <% end %>

<script language="javascript" type="text/javascript" src="javascripts/datetimepicker.js">
  </script>
</div>

<br>
<div>
  <input type="Text" readonly="readonly" name="from" id="from" maxlength="25" size="15">
  <a href="javascript:NewCal('from','ddmmmyyyy',true,24)">
  <img src="/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>
  <span class="descriptions">Start date</span>

  <input type="Text" readonly="readonly" name="to" id="to" maxlength="25" size="15">
  <a href="javascript:NewCal('to','ddmmmyyyy',true,24)">
  <img src="/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>
  <span class="descriptions">End date</span>
	
</div>
<br>	

<div>	
</div>

<p><input type="submit" name="submit" class="formbutton" value="Generate Timesheet" /></p>
    </form>

    <%= will_paginate @git_logs, :remote => {:update => "logs"}%>
<div id="logs">    
<table>
    <% if !@git_logs.blank? %>
      <tr>
        <th>Author</th>
        <th>Repository</th>
        <th>Comment</th>
        <th>Commit Date</th>
      </tr>
      <% @git_logs.each do |git_log| %>
      <tr>	
       <td><%= git_log.author.name %></td>
       <td><%= git_log.repository.name %></td>
       <td><%= git_log.comment %></td>
       <td><%= git_log.committed_at %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>
  <br />
