<h1>Listing git_logs</h1>

  <br>
  <div>
    <% if !@repositories.blank? %>
      <h3>Select Repository</h3>
      <form action="repositories/create_timesheet" method="post">
      <%= select_tag "repository", options_from_collection_for_select(@repositories, "id", "name") %> 
      </select>
    <% end %>
    <% if !@authors.blank? %>
      <h3>Select Authors</h3>
      <%= select_tag "author", options_from_collection_for_select(@authors, "id", "name") %> 
    <% end %>
  </div>

  <br>	
  <script language="javascript" type="text/javascript" src="/javascripts/datetimepicker.js">
  </script>

  <div>   
    <input type="Text" name="from" id="from" maxlength="25" size="25">
    <a href="javascript:NewCal('demo1','ddmmmyyyy',true,24)">
      <img src="/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>
    <span class="descriptions">Start date</span>
  </div>
  <br>	

  <div>	
    <input type="Text" name="to" id="to" maxlength="25" size="25">
    <a href="javascript:NewCal('demo2','ddmmmyyyy',true,24)">
      <img src="/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>
    <span class="descriptions">End date</span>
  </div>

    <p><input type="submit" name="submit" class="formbutton" value="Generate Timesheet" /></p>
    </form>

<table>
 <% if @git_logs %>
  <tr>
    <th>Author</th>
    <th>Repository</th>
    <th>Comment</th>
    <th>Commit Date</th>
  </tr>
  <% @git_logs.each do |git_log| %>
    <tr>	
    <td><%= git_log.author.name %><td>
    <td><%= git_log.repository.name %><td>
    <td><%= git_log.comment %><td>
    <td><%= git_log.committed_at %><td>
    </tr>
  <% end %>
 <% end %>
</table>
<br />
