<h1>Listing git_logs</h1>

<table>
  <tr>
    <th>Commit id</th>
    <th>Comment</th>
    <th>Author</th>
    <th>Repository</th>
    <th>Committed At</th>
  </tr>

<% @git_logs.each do |git_log| %>
  <tr>
    <td><%=git_log.sha %></td>
    <td><%=git_log.comment  %></td>
    <td><%=git_log.author.name %></td>
    <td><%=git_log.repository.name  %></td>
    <td><%=git_log.committed_at  %></td>
  </tr>
<% end %>
</table>

<br />

