<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=iso-8859-1" />
    <title>layout</title>
    <link rel = "stylesheet" href = "/stylesheets/styles.css" type = "text/css" />
  </head>
  <body>
    <div id = "wrap">
      <div id = "header">
        <div id = "innerheader">
          <div id = "title">
            <h4 align="right"> <%= "Welcome " + current_user.name.to_s.capitalize+ "!" if user_signed_in? %> <a href = "/users/sign_out" class = "">Sign Out</a></h4>
            <h1>TimeSheet</h1>
            <h2>Ruby on Rails</h2>
	    <h2 align="right">User :<input type="Text" name="user" id="user" maxlength="25" size="25"></h2>
          </div>
        </div>
      </div>

      <div id = "content">
        <div id = "page">

          <%= yield %>

        </div>
        <div id="sidebar">
          <ul>	
            <li><a href="/authors" <%= 'class=selected' if @selected == 'authors' %>>Authors</a></li>
            <li><a href="/repositories" <%= 'class=selected' if @selected == 'repositories' %> >Repository</a></li>
            <li><a href="/repositories/new" <%= 'class=selected' if not @selected or @selected == 'repo_new' %> >Add New Repository</a></li>
            <li><a href="/git_logs" <%= 'class=selected' if @selected == 'logs' %> >Generate Time Sheet</a></li>
          </ul>
        </div>
        <div class = "clear"></div>
      </div>
      <div id="footer">
        <p>Copyright @ JOSH Software Pvt. Ltd.</p>
      </div>
    </div>

  </body>
</html>
